.box {
    width: 100%;
    float: none;
}


/* Headings */

.primary-heading {
    font-size: 45px;
    font-weight: 900;
}

#showcase-content {
    width: 100%;
    font-size: 25px;
}


/* Project section */

.box p {
    font-size: 18px;
}